.res-header {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #eee;
}

.logo {
    width: 100px;
    height: 100px;
}

.nav-items > ul {
    display: flex;
    margin-right: 10px;
}

.nav-items > ul >li {
    padding: 20px;
    list-style: none;
    font-size:24px;
}

.filter-button {
    border: 1px solid blue;
    height: 20px;
    padding: 10px;
    display: flex;
}
.filter {
    margin-left: 20px;
}
.res-conatiner {
    margin: 10px;
}
.res-card-container {
    display: flex;
    flex-wrap: wrap;
}
.card-detail {
    width: 250px;
    padding: 10px;
    margin:10px;
    background-color: #e0e0e0;
}

.card-detail:hover {
    border: 1px solid orange;
    cursor: pointer; 
}

.res-image {
    width: 250px;
    height: 200px;
}
.login {
    width: 100px;
    padding: 0px,20px;
}

.shimmer-container {
    padding: 0px 20px;
    display:flex;
    flex-wrap: wrap;
}
.shimmer-card {
    width: 250px;
    height: 300px;
    margin: 20px;
    background-color: #e0e0e0;
}
.res-name {
    color:#800080;
}
.res-menu-check {
    color:red
}